footer
  .container
    p.pull-left.list-inline © 2016 Curated by 
     a(href='http://www.juniorleagueofhonolulu.org/') Junior League of Hawaii.
    ul.pull-right.list-inline
      li
        a(href='https://www.linkedin.com/in/dgboggs001') Created and maintained by Dan Boggs.