extends layout

block content
  
.jumbotron.container-fluid
    h1 We're dedicated to the well-being of our local youths.
    <br />


  h1 Our Mission
  p.lead The mission of Youth Outreach (YO!) is to encourage and empower runaway, homeless, and street identified youth to acquire information and skills that promote safety, enhance decision-making and develop individual strengths.
  hr
  .row
    .col-sm-6
      img.person(src='/images/sunglasses.jpeg', alt='Person')
    .col-sm-6
      p Since 1989, Hale Kipa and Waikiki Health have been providing services to the homeless, runaway and street identified youth and young adults on Oahu through the Youth Outreach (YO!) program. YO! provides street outreach, Drop-In services, case management, and health and medical services to youth on a referral on walk-in basis.
  .row
    .col-sm-6
      img.person(src='/images/sunglasses.jpeg', alt='Male Child')
    .col-sm-6
      p Each year, Youth Outreach (YO!) services hundreds of runaway, homeless, and street identified youth and young adults up to the age of twenty-two. The YO! staff develop relationships by effectively engaging a range of youth / young adults with differing ages, ethnicities, sexual orientations, and cultures in a sensitive and respectful manner.
  .row
    .col-sm-6
      img.person(src='/images/sunglasses.jpeg', alt='Female Child')
    .col-sm-6
      p YO! provides basic needs and services on an outreach and drop-in basis. Youth and young adults are also introduced to a wide range of services that are critical to the process of transitioning from the streets to a more stable environment. By taking the services to the streets and providing a “youth friendly” drop-In center, YO! is able to engage youth that other programs may not reach.
  .row
    h3 Services we provide our youths
    p Street Outreach
    p Meals, Shower, Clothing, Laundry
    p Someone to trust and talk to
    p Crisis Intervention
    p Information and Referral
    p Case Management
    p Referral for Counseling
    p Advocacy
    p Independent Living Skills Training
    p Safety Workshops
    p Education Support
    p Employment Assistance