extends layout

block content
  link(rel='stylesheet', href='/css/biographies.css')
  h1 Biographies
  p.lead Wonderful worker bios, short and sweet
  hr
  .row
    .col-sm-6
      img.person#oddperson(src='/images/sunglasses.jpeg', alt='Person 1')
    .col-sm-6
      h1 Me llamo es Alpha Delta
      br
      h2 Something Quaint About Me
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      h3 Why I love YO
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      h3 Find me on social media
        p
        a.btn.btn-default(href='#', role='button') Twitter » 
        a.btn.btn-default(href='#', role='button') Facebook »
        a.btn.btn-default(href='#', role='button') LinkedIn »
  hr      
  .row       
    .col-sm-6
      img.person(src='/images/sunglasses.jpeg', alt='Person 1')
    .col-sm-6
      h1 Me llamo es Bravo Charlie
      br
      h2 Something Quaint About Me
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      h3 Why I love YO
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      h3 Find me on social media
        p
        a.btn.btn-default(href='#', role='button') Twitter » 
        a.btn.btn-default(href='#', role='button') Facebook »
        a.btn.btn-default(href='#', role='button') LinkedIn »
  hr
  .row  
    .col-sm-6
      img.person#oddperson(src='/images/sunglasses.jpeg', alt='Person 1')
    .col-sm-6
      h1 Me llamo es Charlie Delta
      br
      h2 Something Quaint About Me
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      h3 Why I love YO
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      h3 Find me on social media
        p
        a.btn.btn-default(href='#', role='button') Twitter » 
        a.btn.btn-default(href='#', role='button') Facebook »
        a.btn.btn-default(href='#', role='button') LinkedIn »