extends layout

block content
  h1 Sponsors and Friends of YO!
  p.lead Big mahalo to all of our supporters!
  p Grid will change based on number of sponsors and friends shown for better viewing
  hr
  .row
    .col-sm-6
      h2 Company 1
      p Add logo, link, and maybe even a coupon?
      a.btn.btn-default(href='#', role='button') Company 1 »
    .col-sm-6
      h2 Company 2
      p Add logo, link, and maybe even a coupon?
      a.btn.btn-default(href='#', role='button') Company 2 »
    .col-sm-6
      h2 Company 3
      p Add logo, link, and maybe even a coupon?
      a.btn.btn-default(href='#', role='button') Company 3 »
    .col-sm-6
      h2 Company 4
      p Add logo, link, and maybe even a coupon?
      a.btn.btn-default(href='#', role='button') Company 4 »
  hr
  .row
    .col-sm-6
      h2 Company A
      p Add logo, link, and maybe even a coupon?
      a.btn.btn-default(href='#', role='button') Company A »
    .col-sm-6
      h2 Company B
      p Add logo, link, and maybe even a coupon?
      a.btn.btn-default(href='#', role='button') Company B »
    .col-sm-6
      h2 Company C
      p Add logo, link, and maybe even a coupon?
      a.btn.btn-default(href='#', role='button') Company C »
    .col-sm-6
      h2 Company D
      p Add logo, link, and maybe even a coupon?
      a.btn.btn-default(href='#', role='button') Company D »    
