.donations {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.9;
}

.itembox{
	box-shadow: 1px 1px 3px 4px #ccc;
    border: 10px solid transparent;
}

.clothes{
	height: 120px;
}