.bg
{
	background-size: cover;
	height: 100%;
	width: 100%;
	margin-bottom: 0px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	padding-left: 1%;
}

.jumbotron{
	background: transparent;
	color: #6A6868;
	text-shadow: black 0.3em 0.3em 0.3em;
	padding-left: 1%;
}

