/* Home CSS*/
.jumbotron
{
  background-image: url('/images/YOlogo.jpeg');
  background-size: cover;
  /*background-position: center;*/
	margin-bottom: 0px;
	background-position: 0% 25%;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	padding: 100px 25px;
}